@media (max-width: 768px) {
  .sidebar {
    width: 70px;
  }
  .sidebar .nav-link span {
    display: none;
  }
  .main-content {
    margin-left: 70px;
  }
  .sidebar h4 {
    font-size: 1rem;
    text-align: center;
  }
  
  .btn span {
    display: none;
  }
  .btn i {
    margin-right: 0 !important;
  }
  
  .col-md-6 {
    width: 100%;
    margin-bottom: 15px;
  }
  
  .img-thumbnail {
    width: 60px !important;
    height: 45px !important;
  }
  
  .card-header h2 {
    font-size: 1.25rem;
  }
}