<app-header [pageTitle]="''" [isSmall]="true"></app-header>
<div class="container mt-4">
  <div class="row">
    <!-- Main Post Content -->
    <div class="col-md-8">
      <div *ngIf="isLoading" class="text-center">
        <p>Loading post...</p>
      </div>

      <div *ngIf="!isLoading && post">
        <h2>{{ post.title }}</h2>
       
        <p class="text-muted">
          By 
          <a [routerLink]="['/author', post.authorId]">{{ post.authorName }}</a>
          | <a [routerLink]="['/category', post.blogCategoryId]">{{ post.blogCategoryName }}</a>  | 
          {{ post.createdAt | date: 'mediumDate' }}
        </p>
        <img [src]="post.imageUrl" class="img-fluid mb-3" *ngIf="post.imageUrl" alt="Post Image">
        <p [innerHTML]="post.content"></p>
      </div>
    </div>

    <!-- Sidebar -->
    <div class="col-md-4">
     <!-- Search Bar --> 
      <div class="mb-4">
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="search" (keyup.enter)="onSearchChange()" />
      </div>

     <!-- Categories List --> 
      <div class="mb-4">
        <h5>Categories</h5>
        <ul class="list-group">
          <li 
            class="list-group-item" 
            [class.active]="selectedCategoryId === null" 
            (click)="onCategorySelect(null)">
            All
          </li>
          <li 
            *ngFor="let category of categories"
            class="list-group-item"
            [class.active]="selectedCategoryId === category.id">
            <a [routerLink]="['/category', category.id]" class="text-decoration-none text-dark">
              {{ category.name }}
            </a>
           
          </li>
        </ul>
      </div>

      <!--Last Posts -->
      <h5>Recent Posts</h5>
      <ul class="list-group">
    <li
        *ngFor="let post of lastPosts"
        class="list-group-item d-flex align-items-start"
        (click)="goToPost(post.id)"
        style="cursor: pointer"
      >
        <img
          [src]="post.imageUrl || 'https://via.placeholder.com/60'"
          alt=""
          width="60"
          height="60"
          class="me-2 rounded"
        />
        <div>
          <div class="fw-semibold">{{ post.title }}</div>
          <small class="text-muted">{{ post.createdAt | date: 'longDate' }}</small>
        </div>
     </li>
      </ul>


      
      

    

    
  </div>
</div>

