@media (max-width: 768px) {
    .sidebar {
      width: 70px;
    }
    .sidebar .nav-link span {
      display: none;
    }
    .main-content {
      margin-left: 70px;
    }
    .sidebar h4 {
      font-size: 1rem;
      text-align: center;
    }
    
    .btn span:not(.small) {
      display: none;
    }
    .btn i {
      margin-right: 0 !important;
    }
    
    .col-md-4 {
      width: 100%;
      margin-bottom: 15px;
    }
    
    .alert span {
      font-size: 0.8rem;
    }
    
    .table-responsive {
      overflow-x: auto;
    }
  }