<div class="d-flex justify-content-center align-items-center min-vh-100">
  <div class="container p-4 bg-light border border-light-subtle rounded-3 shadow-sm" style="max-width: 400px;">
     <form [formGroup]="signupForm" (ngSubmit)="onsubmit()">
    <div class ="mb-3">
      <label for ="username" class="form-label">Username</label>
      <input type="text" id="username" formControlName="username" class="form-control" required>
      <div>
        @if(signupForm.controls["username"].invalid && (signupForm.controls["username"].dirty || signupForm.controls["username"].touched)) {
        <div class="form-text text-danger">
          @if(signupForm.controls["username"].errors?.['required']) {
            <span>Username is required</span>
          }
          @if(signupForm.controls["username"].errors?.['minlength']) {
            <span>Username must be at least 3 characters long</span>
          }
      </div>
    }
    </div>

    </div>
    <div class ="mb-3">
      <label for ="name" class="form-label">Name</label>
      <input type="text" id="name" formControlName="name" class="form-control" required>
      <div>
        @if(signupForm.controls["name"].invalid && (signupForm.controls["name"].dirty || signupForm.controls["name"].touched)) {
        <div class="form-text text-danger">
          @if(signupForm.controls["name"].errors?.['required']) {
            <span>Name is required</span>
          }
          @if(signupForm.controls["name"].errors?.['minlength']) {
            <span>Name must be at least 3 characters long</span>
          }
        </div>
      }
      </div>
    </div>
    <div class ="mb-3">
      <label for ="phone" class="form-label">Phone</label>
      <input type="text" id="phone" formControlName="phone" class="form-control" required>
      <div>
        @if(signupForm.controls["phone"].invalid && (signupForm.controls["phone"].dirty || signupForm.controls["phone"].touched)) {
        <div class="form-text text-danger">
          @if(signupForm.controls["phone"].errors?.['required']) {
            <span>Phone is required</span>
          }
          @if(signupForm.controls["phone"].errors?.['minlength']) {
            <span>Phone must be at least 10 characters long</span>
          }
        </div>
      }
      </div>
    </div>
    <div class ="mb-3">
      <label for ="email" class="form-label">Email</label>
      <input type="email" id="email" formControlName="email" class="form-control" required>
      <div>
        @if(signupForm.controls["email"].invalid && (signupForm.controls["email"].dirty || signupForm.controls["email"].touched)) {
        <div class="form-text text-danger">
          @if(signupForm.controls["email"].errors?.['required']) {
            <span>Email is required</span>
          }
          @if(signupForm.controls["email"].errors?.['email']) {
            <span>Invalid email format</span>
          }
        </div>
      }
      </div>
    </div>
    <div class ="mb-3">
      <label for ="password" class="form-label">Password</label>
      <input type="password" id="password" formControlName="password" class="form-control" required>
      <div>
        @if(signupForm.controls["password"].invalid && (signupForm.controls["password"].dirty || signupForm.controls["password"].touched)) {
        <div class="form-text text-danger">
          @if(signupForm.controls["password"].errors?.['required']) {
            <span>Password is required</span>
          }
          @if(signupForm.controls["password"].errors?.['minlength']) {
            <span>Password must be at least 6 characters long</span>
          }
        </div>
      }
      </div>
    </div>
<div>
  <div class="d-grid">
      <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Sign Up</button>
    </div>
    <div class="text-center mt-3">
      <p>Already have an account? <a routerLink ="/login">Login</a></p>
    </div>
    <div class="text-center mt-3">
      <p>Or sign up with:</p>
      <button class="btn btn-outline-primary me-2"><i class="fa-brands fa-google"></i></button>
      <button class="btn btn-outline-primary"><i class="fa-brands fa-facebook"></i></button>

</div>
</div>
  </form>
</div>
</div>
