<!--<div class="position-sticky">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin-main/home">
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="dashboard/posts">
        Blog Posts
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin-main/trips/add">
        Add Trip
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin-main/sites/add">
        Add Site
      </a>
    </li>
  </ul>
</div>
-->


<!-- Sidebar -->
<div class="sidebar bg-dark text-white" style="width: 250px; position: sticky; height: 100vh;">
  <div class="p-3">
    <h4 class="mb-4"><i class="fas fa-tachometer-alt me-2"></i>Dashboard</h4>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="dashboard/booking-management">
          <i class="fas fa-cog me-2"></i>Booking
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="/admin-main/dashboard/site">
          
          <i class="fas fa-blog me-2"></i> Site
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="/admin-main/dashboard/trip">
         
          <i class="fa-solid fa-plane"></i> Trip
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="dashboard/posts">
          <i class="fa-solid fa-list"></i>  Blog posts
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="dashboard/categories">
          <i class="fa-solid fa-layer-group"></i> Blog Category
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="dashboard/authors">
          <i class="fa-solid fa-pen"></i> Blog Author
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="dashboard/transportations">
          <i class="fa-solid fa-car"></i> Transportation
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="dashboard/drivers">
          <i class="fa-solid fa-id-card"></i> Driver
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="dashboard/governments">
          <i class="fas fa-cog me-2"></i> Government
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="dashboard/Account">
          <i class="fas fa-cog me-2"></i>Account
        </a>
      </li>
      <li class="nav-item mb-2">
        <a class="nav-link text-white" routerLink="dashboard/chat">
          <i class="fa-brands fa-rocketchat"></i> Chatbot
        </a>
      </li>
    </ul>
  </div>
</div>
